@media only screen and (min-width: 64em){
    /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */

    header h1 {
        font-size: 3rem;
    }

    nav ul li{
        flex: auto;
    }

    h3, .current{
        margin-left: 11%;
    }

    .forecast h3{
        margin-left: 113px;
    }

    #image2{
        margin-left: 125px;
    }

    .after-box{
        clear:both;
    }

    /* Springfield upcoming events */

    #eventStats article li, #eventGreen article li, #eventFrank article li{
        left: 210px;
    }

    #eventStats article ul, #eventGreen article ul, #eventFrank article ul{
        margin-left: 180px;
    }

    section picture{
        margin: 0px 425px 0px 0px;
    }

    p.town-article{
        margin-top: 35px;
        margin-left: 11%;
        margin-right: 53%;
        margin-bottom: 5%;
    }

    article picture.image-city img{
        float: right;
        max-width: 425px;
    }

    #forecastheading{
        padding-top: 2rem;
    }

    #cityheading {
        margin-left: 70px;
        margin-bottom: -35px;
    }

    /* CSS for gallery page */
    main.grid-layout{

        grid-template-columns: 1fr 1fr 1fr;
        margin: 25px 25px;
    }

    .gallery:hover {
        box-shadow: 5px 5px 10px gray;
    }

    /* CSS for Storm Center */
    main.stormcenter{
        margin-left: 10rem;
        margin-right: 10rem;
    }

    /* CSS for Home Page */

    .leftcol {
        flex: 1 0 25rem;
        margin: -45px 0px 0px 45px;
    }

    picture.breaking-image img{
        margin-top: -125px;
        width: 130%;
    }
}
