@media only screen and (min-width: 37.5em) {

    /* header styles */

    .main-header {
        padding-bottom: 10px;
    }

    header h1 {
        font-size: 1rem;
    }

    header h1 {
        font-family: 'Kadwa', serif;
        font-size: 1.5rem;
        position: relative;
        left: -10rem;
        top: 3rem;
        color: #960400;
    }

    figure.logo img {
        max-width: 90%;
        height: auto;
        padding-left: 4.5rem;
    }

    figure.logo {
        margin-top: .2rem;
    }



    /* nav styles */
    nav button {
        display: none;  /* hide the hamburger button */
    }
    nav{
        height: .4rem;
    }

    nav ul.hide{
        position: relative;
        top: -2.2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        padding-right: 1.6rem;
    }

    nav ul a {
        color: #960400;
        font-size: 1.1rem;
        margin-left: 1rem;
    }


    /* main styles */

    .position {
        font-size: 1.5rem;
    }

    h2.title-heading {
        font-size: 2.5rem;
        margin-top: 1rem;
        margin-left: 25px;
    }

    img.center {
        max-width: 95%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .bottom-right{
        right: 40px;
        padding: 5px 15px 8px 15px;
    }

    .view{
        font-size: 1.2rem;
    }

    .grid-home{
        grid-template-columns: 1fr 1fr;
        margin-right: 5rem;
        margin-left: 5rem;
    }

    /* footer styles */

    footer p {

        white-space: pre;
    }

    /* event page styles */

    .event-banner {
        margin-top: 25px;
    }

    .event-banner h1 {
        font-family: 'Kadwa', serif;
        font-size: 2.5rem;
        left: 5rem;
        text-shadow: 2px 2px black;
    }

    .tour-info{
        display: flex;
    }

/* adventure tour styles */

    .tour-flex{
        display: flex;
        flex-direction: row;
    }

    .tour-flex img{
        align-self: baseline;
    }

    .no-border{
        border-bottom: none;
    }

    /* Service page styles */

    table{
        width: 90%;
    }

    .columns{
        display: flex;
        flex-wrap: wrap;
        margin-top: -3rem;
    }

    .left, .right {
        flex: 1 0 40%;
        min-width: 0;
    }

    /* Contact page styles */

    .top-section{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .contact-border{
        margin-top: 3.5rem;
        margin-left: 1.5rem;
        flex: 0 1 auto;
    }

    /* New Models Styles */

    .new-bikes{
        display: flex;
        flex-direction: row;
        margin-right: 1.2rem;
        margin-left: 1.2rem;
        justify-content: space-between
    }

    .new-bikes article{
        padding: 8px;
    }
}
