@media only screen and (min-width: 64em){
    /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */

    header h1 {
        font-size: 3rem;
    }

    h3, .highlow, .conditions, .current{
        margin-left: 225px
    }

    .forecast h3{
        margin-top: 6rem;
        margin-left: 235px;
        padding-top: 100px;

    }
    #image2{
            float: left;
    }
    #image3{
        float: right;
        margin: 0px 225px 30px 15px;
        width: 500px;

    }
    footer{
        clear: both;
    }

    picture{
        margin: -133px 513px 0px 45px;
    }

    .town-article{
        margin-left: 230px

    }
    #heading-break {
        padding-top: 65px;
        margin-left: 230px;

    }
    #cityheading {
        margin-left: 178px;
    }
}

