@media only screen and (min-width: 64em){
    /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */


    nav ul{
        margin-left: 115px;
    }

    header h1 {
        font-size: 3rem;
    }

    h3, .highlow, .conditions, .current{
        margin-left: 225px
    }

    .forecast h3{
        margin-left: 235px;
    }

    .town-article{
        margin-right: 150px;
        padding: 0px 120px 0px 190px;
        margin-left: 45px;
    }

    article{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    #heading-break {
        margin-left: 235px;
    }

    picture {
        margin-left: 365px
    }

    #cityheading {
        margin-left: 178px;
    }

    #image2 {
        margin-top: -245px;
        margin-left: 245px;
    }

    #image3 {
        margin-right: 195px
    }

    /* CSS for gallery */

    main.grid-layout{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 25px 25px;
    }

    .gallery:hover {
        box-shadow: 5px 5px 10px gray;
    }
}

