/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
    font-size: 16px;
    font-family: 'Lora', Baskerville MT, serif;
    background-color: #efede6;
}

header, nav, main, footer {
    max-width: 100%;
    margin: 0 auto;
}

header {
    background-color: #72cbe0;
}

figure.logo {
    padding-top: 25px;
    margin-top: -25px;
    margin-left: 0;
}

#motto {
    margin-left: 155px;
}

header h1 {
    font-family: 'Spirax', cursive;
    font-size: 2rem;
    position: relative;
    top: -250px;
    left: 155px;
}

header .subheading {
    font-family: 'Hind', "Neue Haas Grotesk", sans-serif;
    margin: -279px 0px 0px 157px;
    padding: 13px 0px 45px 0px;
    color: #FFFFFF;
    font-size: .8rem;
}

nav button {
    margin: .4rem 4%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #ffffff;
}

nav {
    background-color: #4a494a;
    font-family: 'Hind', Neue Haas Grotesk, sans-serif;
    margin-bottom: 18px;

}

nav ul {
    list-style-type: none;
    margin-top: 0px;
    padding: 0px 0px 1px 0px;
    width: 100%;
    background-color: #4a494a;
    font-size: 1.3rem;
}

nav ul li {
    display: block;
    color: #ffffff;
    margin-top: 5px;
}

nav ul li a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 28px;
    margin: 10px;
}

nav ul li a:hover {
    color: #a9bb8c;

}
nav ul.hide {
    display: none;
}


table, th, td{
    border: 1px solid black;
    padding: 10px 15px 10px 15px;
    text-align: center;
    margin: auto;
}

thead{
    background-color: #ffb052;
}

tbody{
    background-color: #72cbe0;
}

table{
    background-color: #4a494a;
}

main h2 {
    font-family: 'Hind', "Neue Haas Grotesk", sans-serif;
    margin: 2rem;
}

main figure {
    margin: 0 0 .2rem; max-width:100%;
}

main figure img {
    width: 100%;
    margin: -21px 0px 12px 0px;
}

h3 {
    font-family: 'Hind', "Neue Haas Grotesk", sans-serif;
    margin-left: 35px;
    color: #ffb052;
}

article h3#heading-break{
    margin-bottom: -25px;
    padding-top: 25px;
}

section.forecast {
    display: none;
}

.current, .conditions, .highlow {
    text-align: left;
    margin-left: 50px;
}

.current picture{
    float: right;
    margin-top: -215px;
    padding-left: 35px;
}

.town-article{
    margin: 0px 35px 15px 15px;
}

footer {
    background-color:#4a494a;
    display: block;
    text-align: center;
    padding: 1rem 1rem;
}

.footer-bar{
    color: #ffffff;
}

footer aside {
    background-color: #72cbe0;
    padding: 1rem 1rem;
    margin-top: -17px;
    margin-left: -25px;
    margin-right: -25px;
}

#image3{
    margin: 40px 0px 10px 0px ;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

/* CSS for gallery pages*/

main figure.gallery{
    max-width: 300px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
}




