@media only screen and (min-width: 37.5em) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */


    nav button {
        display: none;
    }  /* hamburger button does not need to be shown */

    nav ul.hide{
        display: block;
    }

    nav ul {
        list-style-type: none;
        padding: 0;
        width: 100%;
        background-color: #4a494a;
        font-size: 1.3rem;
    }

    nav ul li {
        display: inline-flex;
        flex-direction: row;
        margin: 0px 0px -20px 0px;
    }
    nav ul li a{
        flex: 1 100%;
    }

    header .subheading {
        margin: -285px 0px 0px 160px;
        padding: 0px 0px 50px 0px;
    }

    header h1 {
        font-size: 3rem;
        top: -260px;
        left: 150px;
     }

    figure.logo {
        padding-top: 15px;
        padding-bottom: 5px;
    }

    .logo img{
        width: 275px;
    }

    #motto {
        margin-left: 155px;
    }

    #forecastheading{
        margin-top: 80px;
    }

    section.forecast {
        display: block;
    }

    .current picture{
        margin-top: 20px;
        margin-left: 125px;
    }

    header, nav, main, footer {
        max-width: 100%;
    }

    picture{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        width: 300px;
    }

    #image3{
        margin-top: 40px;
        margin-bottom: 15px;
        margin-left: 275px;
    }

    .forecast h3{
        margin-top: 2rem;
    }

    article h3{
        margin-top: 4rem;
        padding-bottom: 10px;
    }

    /* CSS for Gallery Page */

    main.grid-layout{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
